name: Deploy movie-ticket-booking to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::987473401265:role/IAM-ROLEE
          aws-region: ap-southeast-2

      - name: Deploy dup.html to S3
        run: |
          aws s3 cp index.html s3://aws-bucket-project-11/dup.html
